langchain_openai
langchain_core
python-dotenv
streamlit
langchain_community
langserve
fastapi
uvicorn
sse_starlette
requests
ipykernel
bs4
pypdf
chromadb
faiss-cpu
arxiv
wikipedia 
langchainhub
langgraph
langchain_ollama
groq
langchain-groq
beautifulsoup4 
sentence-transformers
ipywidgets
cassio
cassandra-driver